
    <nav class="header-nav">
        <ul>
            <li><a href="/topics">Topics</a></li>
            <% if(currentUser){ %>
                <li><a href="/topics/new">Add Topic</a></li>
            <% } %>
            <li><a href="/articles">Stories</a></li>
            <% if(currentUser){ %>
                <li><a href="/articles/new">Add Story</a></li>
            <% } %>
        </ul>
    </nav>


