
    <nav class="navbar navbar-expand-lg navbar-light bg-custom fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item active">
              <a class="nav-link px-5 mx-3" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-5 mx-3" href="/photos">Photo Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-5 mx-3" href="/articles">My Stories</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle  mr-5 pr-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                L
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users/login">Owner's Login</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/vidLogin">Welcome and Login</a>
                <a class="dropdown-item" href="/vidAlbums">Photo Gallery - Album</a>
                <a class="dropdown-item" href="/vidPhotos">Photo Gallery - Photo</a>
                <a class="dropdown-item" href="/vidTopics">My Stories - Topic</a>
                <a class="dropdown-item" href="/vidStories">My Stories - Story</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/logout">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
