<%- include('./partials/head.ejs') %>
<body id="home" style="background: linear-gradient(to right, var(--color-background-one), var(--color-background-four));">
<%- include('./partials/header.ejs') %>

<div class="wrapper">
    <div class="videowrapper">
        <video src="https://res.cloudinary.com/lovelywd/video/upload/vc_auto/v1604419758/Photo_Gallery_-_Photos_wzocdv.mp4" autoplay controls></video> 
    </div>
</div>


<%- include('./partials/footer.ejs') %>