.album-row {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 1rem;
}

.album-name {
  font-size: 1.5rem;
  color: var(--color-three);
}

.form-album, .form-album-search {
  margin: auto;
  width: 50%;
}

.form-item {
  color: var(--color-four);
}

.btn-album {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2em;
}

.btn-album-view {
  margin-right: 1em;
  margin-left: 1em;
}

.btn-album-create , .btn-album-cancel {
  margin-right: 2em;
}

.btn-album-new-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}


.btn-album-search {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 992px) {
  .form-album, .form-album-search, .btn-album-new {
    margin: auto;
  }
}