:root {
  --photo-cover-width-small: 325px;
  --photo-cover-width: 600px;
  --photo-cover-aspect-ratio: 1;
}

.photo-cover {
  width: var(--photo-cover-width);
  height: calc(var(--photo-cover-width) / var(--photo-cover-aspect-ratio));
  max-width: 600px;
  max-height: 600px;
  object-fit: contain;
  margin: auto;
}

.photo-cover-small {
  --photo-cover-width: var(--photo-cover-width-small);
  max-width: 325px;
  max-height: 325px;
  display: grid;
  object-fit: contain;
}

.photo-grid {
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, var(--photo-cover-width));
}

.photo-grid-small {
  margin-bottom: 5rem;
  grid-template-columns: repeat(auto-fill, var(--photo-cover-width-small));
}

.photo-details {
  display: flex;
}

.card {
  background-color: var(--color-six);
  margin-top: 1rem;
  padding: 1rem;
  padding-bottom: none;
  box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.2),
    -12px -12px 10px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 75%;
  display: flex;
  align-items: center;
}

.card-title, .card-title-show {
  color:var(--color-four);
  margin-bottom: 1rem;
}

.card-show {
  width: 70%;
  max-width: 800px;
  margin: auto;
  padding: 0rem;
}

.card-desc {
  color: var(--color-four);
  font-size: 1.4em;
  font-style: oblique;
}

.btn-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}

.photo-details-album-button {
  display: flex;
  margin: auto;
  margin-bottom: 3rem;
  justify-content: center;
  width: 40%;
  max-width: 600px;
}


.btn.btn-new, .btn.btn-edit {
  margin-right: 2em;
}

.btn-new-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

@media only screen and (max-width: 1200px) {
  .card-show {
    width: 80%;
  }
  .btn-new-edit {
    margin-right: 4em;
  }
}

@media only screen and (max-width: 1085px) {
  .photo-cover {
    max-width: 500px;
    max-height: 500px;
    position: relative;
  }
}

@media only screen and (max-width: 700px) {
  .inner-container {
    margin: 0rem;
  }
  .card-show {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .photo-cover {
    max-width: 400px;
    max-height: 400px;
  }
} 

@media only screen and (max-width: 500px) {
  .card-body-show {
    padding: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .photo-cover {
    max-width: 375px;
    max-height: 375px;
  }
} 

@media only screen and (max-width: 350px) {
  .photo-cover {
    max-width: 250px;
    max-height: 250px;
  }
}